
.roll__dice {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}

.dice__container {
    display: flex;
    justify-content: center;
    align-content: center;
}
.roll__dice button
{
    align-self: center;
    width: 15em;
    padding: 1.5em;
    border: 0px;
    border-radius: 5%;
    color: white;
    background-color: black;
    margin-top: 3em;
}

.roll__dice button:hover {
    background-color: gray;
    
}